{% load static %}


<!DOCTYPE html>
<html>

<head>

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 d-flex flex-column flex-shrink-0 p-3 bg-light" style="height: 100vh;">
                <!-- Sidebar -->
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'musteri:customer_list' %}" class="nav-link active" aria-current="page">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#home"></use>
                                </svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'musteri:customer_create' %}" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#plus-circle"></use>
                                </svg>
                                Yeni Musteri
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'musteri:upload_pdf' %}" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#file-earmark-arrow-up"></use>
                                </svg>
                                Yeni Musteri - Dosyadan Yukle
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'musteri:customer_query' %}" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#search"></use>
                                </svg>
                                Sorgula
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'musteri:customer_expiry_list' %}" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#alarm-exclamation"></use>
                                </svg>
                                Ikameti Sona Erenler
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'musteri:expense' %}" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#alarm-exclamation"></use>
                                </svg>
                                Masrf Hesapla
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'musteri:yapilacak' %}" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#alarm-exclamation"></use>
                                </svg>
                                Yapilacak Listesi
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                            id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>

                </div>
                <!-- Main Content -->
            </div>
            <div class="col-9">
                {% block content %}
                <!-- Your main content goes here -->
                {% endblock %}
            </div>
        </div>
    </div>



    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main-content").style.marginLeft = "250px";
            document.getElementById("openbtn").style.display = "none";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "60px";
            document.getElementById("main-content").style.marginLeft = "60px";
            document.getElementById("openbtn").style.display = "block";
        }
        $("#yapilacaklarBtn").click(function () {
            $("#yapilacaklarPanel").toggle();
        });

        $("#addYapilacakBtn").click(function () {
            var yapilacak = $("#yapilacakInput").val();
            var detay = $("#detayInput").val();
            $.post("{% url 'musteri:add_yapilacak' %}", { yapilacak: yapilacak, detay: detay }, function (data) {
                if (data.success) {
                    var yapilacakItem = "<li>" + yapilacak + ": " + detay + '<button class="tamamlandiBtn">✔️</button>' + "</li>";
                    $("#yapilacaklarList").prepend(yapilacakItem);
                    $("#yapilacakInput").val("");
                    $("#detayInput").val("");
                }
            });
        });

        $("#yapilacaklarList").on("click", ".tamamlandiBtn", function () {
            var id = $(this).parent().attr("id");
            var btn = $(this);
            $.post("{% url 'musteri:complete_yapilacak' id=123 %}".replace('123', id), function (data) {
                if (data.success) {
                    btn.parent().css("text-decoration", "line-through");
                    btn.parent().css("color", "#ccc");
                }
            });
        });
    </script>

    {% block extrajs %}{% endblock %}
</body>

</html>