{% load static %}


<!DOCTYPE html>
<html>

{% include 'head.html' %}


<body>


    <div class="container-fluid">
        {% include 'navbar.html' %}

        <div class="row">
            <div class="col-lg-3 col-md-4 d-none d-md-flex flex-column flex-shrink-0 p-3 bg-light">
                {% include 'sidebar.html' %}
            </div>

            <div class="col-lg-9 col-md-8">
                {% block content %}
                <!-- Your main content goes here -->
                {% endblock %}
            </div>
        </div>
    </div>



    {% include 'scripts.html' %}

    {% block extrajs %}{% endblock %}
</body>

</html>