{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'musteri:customer_list' %}">
    <img src="{% static 'images/logo_simply.png' %}" alt="Logo" style="height: 40px;">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'musteri:customer_list' %}">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Müşteri
        </a>
        <div class="dropdown-menu" aria-labelledby="customerDropdown">
          <a class="dropdown-item" href="{% url 'musteri:customer_create' %}">Yeni Müşteri</a>
          <a class="dropdown-item" href="{% url 'musteri:upload_pdf' %}">Yeni Müşteri Dosyadan</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'musteri:customer_query' %}">Sorgula</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="otherActionsDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Diğer İşlemler
        </a>
        <ul class="dropdown-menu" aria-labelledby="otherActionsDropdown">
          <li><a class="dropdown-item" href="{% url 'musteri:expense' %}">Masraf Hesapla</a></li>
          <li><a class="dropdown-item" href="{% url 'musteri:yapilacak' %}">Yapılacak Listesi</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'musteri:customer_expiry_list' %}">İkameti Sona Erenler</a>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'musteri:customer_status_list' %}">Durum Kontrol Et</a>
      </li>
      </li>
    </ul>

    <form method="GET" class="d-flex my-2 my-lg-0">
      <input class="form-control me-2" type="search" name="search_term" placeholder="Arama terimi girin">
      <button class="btn btn-outline-success me-2" type="submit">Ara</button>
      <button class="btn btn-outline-success" type="button"
        onclick="location.href='{% url 'musteri:customer_list' %}'">Temizle</button>
    </form>
    <!-- Çıkış Yap Formu -->
    <!-- Kullanıcı giriş yapmışsa çıkış yapma butonunu göster -->
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post" class="form-inline my-2 my-lg-0">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger my-2 my-sm-0">Çıkış Yap</button>
    </form>
    {% endif %}

  </div>
</nav>